/* Start */
body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: rgb(53, 134, 13);
}

.nav-link {
    color: white;
    margin-right: 5px;
}

.image-container {
    background-image: url('./assets/alarm.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Full height */
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.feature-card {
    padding: 10%;
    transition: 0.3s;
}

.feature-card:hover {
    box-shadow: 10px 10px 5px rgb(238, 236, 241);
}

.form-control:focus,
.form-select:focus {
    border: 1px solid rgb(184, 184, 184);
    box-shadow: none;
}