/* Start */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #E8E7D5;
}

.navbar {
    background-color: #4DB33D;
}

.nav-link {
    margin-right: 5px;
}

.active {
    font-style: italic;
    border-bottom: 1px solid #E8E7D5;
}

.image-container {
    background-image: url('./assets/alarm.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Full height */
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-card {
    padding: 10%;
    transition: 0.3s;
}

.feature-card:hover {
    box-shadow: 10px 10px 5px rgb(239, 232, 243);
}

.form-control:focus,
.form-select:focus {
    border: 1px solid rgb(184, 184, 184);
    box-shadow: none;
}

.navbar-toggler:focus,
.form-check-input:focus,
.accordion-button:focus {
    box-shadow: none;
}